<template>
  <div id="app">
    <PriceHistory/>
  </div>
</template>

<script>
import PriceHistory from './components/PriceHistory'

export default {
  name: 'App',
  components: {
    PriceHistory
  }
}
</script>
