<template>
  <div>
    <h2 class="font-normal">Fail reasons</h2>
    <div class="text-xs h-128 overflow-auto">
        <template v-if='!dataLoaded'>
        <div class='flex items-center bg-white h-12 h-64 p-2'>
          <span class='spinner text-center m-auto'/>
        </div>
      </template>
      <table class="w-full" v-if="dataLoaded">
        <thead>
          <tr>
            <th
              class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"
            >Time</th>
            <th
              class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"
            >Fail slug</th>
            <th
              class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light"
            >Fail decription</th>
          </tr>
        </thead>
        <tbody>
          <tr class="w-full hover:bg-grey-lighter" v-for="item in data.items" v-bind:key="item.uuid">
            <td class="py-1 px-2 border-b border-grey-light" v-text="formatDate(item.created_at)" />
            <td class="py-1 px-2 border-b border-grey-light" v-text="item.skipped_reason.slug" />
            <td class="py-1 px-2 border-b border-grey-light" v-text="item.skipped_reason.description" />
          </tr>
        </tbody>
      </table>
    </div>
    <Pagination />
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Pagination from './Pagination'

const total = 200
export default {
  name: 'CrawlFailures',
  components: {
    Pagination
  },
  data () {
    return {
      uuid: '',
      dataLoaded: false,
      page: 1,
      data: {},
      url: (process.env.NODE_ENV === "development") ? "https://127.0.0.1": "https://www.cheapskates.info"      
    }
  },
  methods: {
    formatDate (date) {
      return moment(date).format('YYYY-MM-DD HH:mm:ss z')
    },
    request () {
      const self = this
      this.data = {}
      axios
        .get(`${self.url}/api/v1/crawl/fail-reasons/${self.uuid}/${self.page}/${total}/`)
        .then(response => {
          self.data = response.data
          self.dataLoaded = true
        })
    }
  },
  mounted () {
    this.uuid = document.querySelector('[data-uuid]').attributes['data-uuid'].value
    this.request()
  }
}
</script>
