<template>
  <div>
    <div class="text-xs h-128 overflow-auto">
        <template v-if='!dataLoaded'>
        <div class='flex items-center bg-white h-12 h-64 p-2'>
          <span class='spinner text-center m-auto'/>
        </div>
      </template>
      <table class="w-full" v-if="dataLoaded">
        <thead>
          <tr v-bind:class="['uppercase text-xs p-1 ', i % 2 == 0 ? 'text-grey-dark' : 'text-grey-darker']">
            <th
              class="p-1 uppercase text-xs border-l border-grey-light">URL</th>
            <th
              class="p-1 uppercase text-xsborder-l border-grey-light">Page type</th>
            <th
              class="p-1 uppercase text-xs border-l border-grey-light">Timings</th>
          </tr>
        </thead>
        <tbody>
          <tr v-bind:class="['w-full', i % 2 == 0? 'bg-white mt-4': 'bg-grey-light', i != 0 ? 'border-t  border-grey-light': '']" v-bind:key="`${item.uuid}-time`"  v-for="(item, i) in data.items">
            <td class="py-1 px-2 border-b border-grey-light w-2/5">
              <a v-bind:href="item.url" class="cursor-pointer" target="_blank" v-text="item.url"/>
            </td>
            <td class="py-1 px-2 border-b border-grey-light">
              <span v-if="item.is_search_page" v-text="`Search page`"/>
              <span v-if="item.is_product_pageg" v-text="`Product page`" />
              <span v-if="item.is_top_level_page" v-text="`Top-level page`"/>
            </td>
            <td class="py-1 px-2 border-b border-grey-light border-l border-grey-light" v-if="item.status.is_skipped || item.status.is_queued || item.status.is_processing">
              <span v-if="item.status.is_queued" v-text="`Queued`"/>
              <span v-if="item.status.is_processing" v-text="`Processing`" />
              <span v-if="item.status.is_skipped" v-text="`Skipped`"/>
            </td>
            <td class="py-1 px-2" v-if="!item.status.is_skipped && !item.status.is_queued && !item.status.is_processing">
              <v-popover
                offset="16">
                <div class="flex h-4 tooltip-target px-1">
                  <span class="bg-pink-light h-full" v-bind:style="`width: ${item.percentages.request_pre}%`"></span>
                  <span class="bg-orange-light h-full" v-bind:style="`width: ${item.percentages.request.DNS}%`"></span>
                  <span class="bg-blue-light h-full" v-bind:style="`width: ${item.percentages.request.TCPConnection}%`"></span>
                  <span class="bg-yellow-light h-full" v-bind:style="`width: ${item.percentages.request.TLSHandshake}%`"></span>
                  <span class="bg-teal-light h-full" v-bind:style="`width: ${item.percentages.request.serverProcessing}%`"></span>
                  <span class="bg-pink h-full" v-bind:style="`width: ${item.percentages.request_misc}%`"></span>
                  <span class="bg-indigo-light h-full" v-bind:style="`width: ${item.percentages.request.contentTransfer}%`"></span>
                  <span class="bg-blue h-full" v-bind:style="`width: ${item.percentages.decoding}%`"></span>
                  <span class="bg-green-light h-full" v-bind:style="`width: ${item.percentages.processing}%`"></span>
                </div>
                <template slot="popover">
                  <div class="flex flex-col  w-64">
                    <div class="mb-4">
                      <p class="text-grey-dark mb-2"><strong>Timestamps</strong></p>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Added</p>
                        <p v-text="formatDate(item.created_at)" />
                      </div>  
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Item started</p>
                        <p v-text="formatDateUnix(item.timings.request_time)" />
                      </div>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Item ended</p>
                        <p v-text="formatDateUnix(item.timings.processing_time + item.timings.processing_duration)" />
                      </div>
                    </div>
                    <div class="mb-4">
                      <p class="text-grey-dark mb-2"><strong>Queue</strong></p>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Queued</p>
                        <p v-text="item.timings.queued_duration.toFixed(8)  + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mt-1 pl-2">
                        <p class="text-grey-dark"><strong>Total</strong></p>
                          <p><strong v-text="item.timings.queued_duration.toFixed(8)+ 's'" /></p>
                      </div>
                    </div>
                    <div class="mb-1">
                      <p class="text-grey-dark mb-2"><strong>Request</strong></p>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Reqeust Configuration</p>
                        <p v-text="item.timings.request_preperation_duration.toFixed(8) + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>DNS Lookup</p>
                        <p v-text="toMilliseconds(item.timings.request.DNSLookup).toFixed(8) + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>TCP Connection</p>
                        <p v-text="toMilliseconds(item.timings.request.TCPConnection).toFixed(8) + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>TLS Handshake</p>
                        <p v-text="toMilliseconds(item.timings.request.TLSHandshake).toFixed(8) + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Server Processing</p>
                        <p v-text="toMilliseconds(item.timings.request.ServerProcessing).toFixed(8) + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Content Transfer</p>
                        <p v-text="item.timings.content_transfer_duration.toFixed(8) + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mb-1 pl-2">
                        <p>Other</p>
                        <p v-text="item.timings.request.misc.toFixed(8) + 's'" />
                      </div>
                      <div class="flex flex-row justify-between mt-1 pl-2">
                        <p class="text-grey-dark"><strong>Total</strong></p>
                        <p><strong v-text="(item.timings.request_duration).toFixed(8) + 's'" /></p>
                      </div>
                    </div>
                  </div>
                  <div class="my-4">
                    <p class="text-grey-dark mb-2"><strong>Processing</strong></p>
                    <div class="flex flex-row justify-between mb-1 pl-2">
                      <p>Decoding</p>
                      <p v-text="item.timings.decoding_duration.toFixed(8) + 's'" />
                    </div>
                    <div class="flex flex-row justify-between mb-1 pl-2">
                      <p>Page Parsing</p>
                      <p v-text="item.timings.processing_duration.toFixed(8) + 's'" />
                    </div>
                    <div class="flex flex-row justify-between mt-1 pl-2">
                      <p class="text-grey-dark"><strong>Total</strong></p>
                      <p><strong v-text="(item.timings.processing_duration + item.timings.decoding_duration).toFixed(8) + 's'" /></p>
                    </div>
                  </div>
                  <div class="my-4">
                    <div class="flex flex-row justify-between mb-1">
                      <p class="text-grey-dark"><strong>Total</strong></p>
                      <p> <strong v-text="item.timings.duration.toFixed(8) + 's'" /></p>
                    </div>
                  </div>
                </template>
              </v-popover>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <Pagination />
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Pagination from './Pagination'
const total = 200
export default {
  name: 'CrawlItemTable',
  components: {
    Pagination
  },
  data () {
    return {
      uuid: '',
      dataLoaded: false,
      page: 1,
      data: {},
      url: (process.env.NODE_ENV === "development") ? "https://127.0.0.1": "https://www.cheapskates.info"
    }
  },
  methods: {
    formatDateUnix (date) {
      return moment(parseInt((date + '').substr(0, 13))).format('YYYY-MM-DD HH:mm:ss z')
    },
    formatDate (date) {
      return moment(date).format('YYYY-MM-DD HH:mm:ss z')
    },
    request () {
      const self = this
      this.data = {}
      axios
        .get(`${self.url}/api/v1/crawl/items/${self.uuid}/${self.page}/${total}/`)
        .then(response => {
          self.data = response.data
          self.dataLoaded = true

          if (self.data.items !== undefined && self.data.items !== null) {
            self.data.items.forEach(item => {
              const req = (
                self.toMilliseconds(item.timings.request.DNSLookup) +
                self.toMilliseconds(item.timings.request.Pretransfer) + self.toMilliseconds(item.timings.request.ServerProcessing) +
                self.toMilliseconds(item.timings.request.TCPConnection) + self.toMilliseconds(item.timings.request.TLSHandshake) +
                item.timings.request_preperation_duration + item.timings.content_transfer_duration
              )

              item.timings.request_total = req
              item.timings.request.misc = item.timings.request_duration - (req)

              item.percentages = {
                request: {
                  contentTransfer: parseFloat((item.timings.content_transfer_duration / item.timings.duration) * 100).toFixed(4),
                  DNS: parseFloat((self.toMilliseconds(item.timings.request.DNSLookup) / item.timings.duration) * 100).toFixed(4),
                  pretransfer: parseFloat((self.toMilliseconds(item.timings.request.Pretransfer) / item.timings.duration) * 100).toFixed(4),
                  serverProcessing: parseFloat((self.toMilliseconds(item.timings.request.ServerProcessing) / item.timings.duration) * 100).toFixed(4),
                  TCPConnection: parseFloat((self.toMilliseconds(item.timings.request.TCPConnection) / item.timings.duration) * 100).toFixed(4),
                  TLSHandshake: parseFloat((self.toMilliseconds(item.timings.request.TLSHandshake) / item.timings.duration) * 100).toFixed(4)
                },
                decoding: parseFloat((item.timings.decoding_duration / item.timings.duration) * 100).toFixed(4),
                processing: parseFloat((item.timings.processing_duration / item.timings.duration) * 100).toFixed(4),
                request_pre: parseFloat((item.timings.request_preperation_duration / item.timings.duration) * 100).toFixed(4),
                request_misc: parseFloat((item.timings.request.misc / item.timings.duration) * 100).toFixed(4)
              }
            })
          }
        })
    },
    toMilliseconds: (val) => val / 1000 / 1000 / 10000
  },
  mounted () {
    this.uuid = document.querySelector('[data-uuid]').attributes['data-uuid'].value
    this.request()
  }
}
</script>