<template>
  <div class="flex justify-between mt-2" v-if="$parent.dataLoaded">
      <p class="">Showing {{$parent.data.results.start_item}} - {{$parent.data.results.last_item}} of
        {{$parent.data.results.total}} items.</p>
      <ul class="flex list-reset"  v-if="$parent.data.pagination.is_shown">
        <li class="flex bg-grey-light hover:bg-grey mx-1 rounded hover:shadow">
           <button v-on:click="back" v-text="'Back'" v-bind:class="['rounded p-2 bg-grey-light hover:bg-grey', $parent.data.pagination.navigation.back.disabled ? 'cursor-not-allowed' : 'cursor-pointer']"/>
        </li>
        <li
          v-for="item in $parent.data.pagination.pages"
          v-on:click="to(item.page)"
          v-bind:key="item.page"
          v-bind:class="['flex mx-1 rounded hover:shadow cursor-pointer', item.is_active ?'bg-blue hover:bg-blue-light color-white': 'bg-grey-light hover:bg-grey']">
          <button v-bind:href="item.href" class="no-underline cursor-pointer p-2 text-black" v-text="item.page" />
        </li>
        <li class="flex bg-grey-light hover:bg-grey mx-1 rounded hover:shadow">
          <button v-on:click="next" v-text="'Next'" v-bind:class="['rounded p-2 bg-grey-light hover:bg-grey', $parent.data.pagination.navigation.next.disabled ? 'cursor-not-allowed' : 'cursor-pointer']"/>
        </li>
      </ul>
    </div>
</template>

<script>
export default {
  name: 'Pagination',
  methods: {
    to (page) {
      this.$parent.page = page
      this.$parent.dataLoaded = false
      this.$parent.request()
    },
    next () {
      this.$parent.page++
      this.$parent.dataLoaded = false
      this.$parent.request()
    },
    back () {
      if (this.page > 1) {
        this.$parent.page--
        this.$parent.dataLoaded = false
        this.$parent.request()
      }
    }
  }
}
</script>
