{{ define "content"}}
<div class="flex  mx-auto">
  <div class="w-full">
    <div class="bg-grey-darker w-full pt-16 pb-32 px-6 hero">
      <div class="max-w-lg mx-auto">
        <h1 class="title text-center text-white text-white py-6 md:mx-24">{{ .subtitle }}</h1>
        <h2 class="text-2xl md:text-3xl text-center pt-8 text-grey-darkest font-normal leading-tight">{{ .lead }}
        </h2>
      </div>
    </div>
  </div>
</div>
{{ end }}
