{{ define "content"}}
<div class="flex  mx-auto">
  <div class="w-full">
    <div class="bg-grey-darker w-full pt-16 pb-32 px-6 hero">
      <div class="max-w-lg mx-auto">
        <h1 class="title text-center text-white text-white py-6 md:mx-24">Search for a product</h1>
        <h2 class="text-2xl md:text-3xl text-center pt-8 text-grey-darkest font-normal leading-tight">Use the search
          box
          below to search for a product(s)</h2>
      </div>
    </div>
  </div>
</div>
<div class="max-w-xl mx-auto pt-12 px-6 mb-8">
  <div class="lg:flex">
    <form action="/products/1/12/" method="GET" class="margin-auto flex w-full leading-normal text-xl">
      <input class="transition focus:outline-0 border border-transparent focus:bg-white focus:border-grey-light placeholder-grey-darkest rounded bg-grey-lighter p-2 w-4/5 leading-normal ds-input rounded-br-none rounded-tr-none"
        name="q" type="text" value="{{.Search.Query.Query}}" placeholder="Search for a product">

      <input class="transition focus:outline-0 border border-transparent bg-blue placeholder-grey-darkest rounded p-2 w-1/5 appearance-none leading-normal hover:bg-blue-dark text-white cursor-pointer rounded-bl-none rounded-tl-none"
        type="submit" placeholder="Search">
    </form>

  </div>
</div>
<div class="max-w-xl mx-auto pt-12 px-6 mb-8">
  <h2 class="font-normal">Products</h2>
  {{ if .Search.Results.HasResults}}
  <div class=" w-full flex-col md:flex-row">
    <div class="flex w-full flex-col sm:flex-row flex-wrap">
      {{ $SetPadding := .SetPadding}}
      {{$GetSource := .GetSource}}
      {{$GetDataImage := .GetDataSource}}
      {{$GetDataSet := .GetSrcSet}}
      {{range $i, $item := .Search.Items}}
      <a href="{{.URL}}" class="{{ call $SetPadding $i}} flex w-full sm:w-1/2 md:w-1/3 mt-4 hover:text-black text-grey-darker no-underline">
        <div class="border shadow hover:shadow-md p-4 hover cursor-pointer w-full">
          {{ if .Images}}
          <img class="px-2 w-full lazy" src="{{ call $GetSource (index .Images 0) }}" data-src="{{ call $GetDataImage (index .Images 0) }}"
            data-srcset="{{ range $item := call $GetDataSet (index .Images 0) }}{{$item.Source}} {{$item.Width}}w,{{end}}"
            alt="{{.Name}} product image">
          {{end}}
          <p class="text-xl">{{.Name}}</p>
        </div>
      </a>
      {{end}}
    </div>
    {{ else }}
    <h3 class="font-normal mt-4">No products matching your search query. Please try again.</h3>
    {{end}}
  </div>
</div>
<div class="max-w-xl mx-auto pt-4 px-6 mb-8">
  {{ include "elements/pagination" }}
</div>
{{ end }}
