{{ define "content"}}
<div class="w-full max-w-3xl relative mx-auto px-6 mt-8">
  <div class="flex flex-col md:flex-row w-full">
    <div class="w-full md:w-1/3">
      {{if .Product.Images}}
      {{$GetSource := .GetSource}}
      {{$GetDataSource := .GetDataSource}}
      {{$GetSrcSet := .GetSrcSet}}
      {{$GetThumbnailSource := .GetThumbnailSource}}
      {{$GetThumbnailDataSource := .GetThumbnailDataSource}}
      {{$GetThumbnailSrcSet := .GetThumbnailSrcSet}}
      <div id="image-gallery">
        <img class="px-2 w-full lazy" src="{{ call $GetSource (index .Product.Images 0) }}" data-src="{{ call $GetDataSource (index .Product.Images 0) }}"
          data-srcset="{{ range $item := call $GetSrcSet (index .Product.Images 0) }}{{$item.Source}} {{$item.Width}}w,{{end}}"
          alt="{{.Product.Name}} product image" id="image-main">
        <div class="mt-3 flex w-full flex-wrap">
          {{$productName := .Product.Name}}
          {{$Mod := .Mod}}
          {{with .Product.Images}}
          {{range $key, $item := .}}
          <div class="w-1/4 mt-3 {{ if call $Mod $key 4}}pl-0{{else}}pl-4{{end}} ">
            <img src="{{call $GetThumbnailSource $item}}" data-src="{{call $GetThumbnailDataSource $item}}" alt="{{$productName}} image {{$key}}"
              class="lazy border image-thumbnail {{if eq $key 0}}border-blue is-active{{end}}" data-srcset="{{ range $img := call $GetThumbnailSrcSet $item }}{{$img.Source}} {{$img.Width}}w{{end}}"
              data-gallery-src="{{ call $GetSource $item }}" data-gallery-src="{{ call $GetDataSource $item}}"
              data-gallery-srcset="{{ range $img := call $GetSrcSet $item }}{{$img.Source}} {{$img.Width}}w,{{end}}">
          </div>
          {{end}}
          {{end}}
        </div>
      </div>
      {{end}}
      <div class='flex items-center bg-white h-64 p-2 shadow' id="app">
        <div class='w-full'>
          <div class='flex items-center bg-white h-24 h-64 p-2'>
            <span class='spinner text-center m-auto'></span>
          </div>
        </div>
      </div>

      {{include "elements/placesToBuy"}}
    </div>
    <div class="md:w-2/3 w-full mt-4 md:mt-0 md:ml-4">
      <h1 class="font-normal">{{.Product.Name}}</h1>

      <h2 class="font-normal mb-4">Description</h2>
      <div class="h-128 expandable overflow-y-hidden relative">
        {{ call .Description .Product.Description}}
      </div>
    </div>
  </div>
</div>
<script>const history = {{ call .Marshal .Product.PriceHistory }}</script>
{{ end }}
