<aside class="bg-blue-darker hidden sm:visible sm:block sm:w-1/3 lg:w-1/5 h-screen relative justify-between transition overflow-hidden"
  id="sideBar">
  <div class="flex flex-col items-center p-3">
    <div class="flex items-center align-left py-6 w-full border-blue-darker border border-t-0 border-l-0 border-r-0 border-b-2">
      <svg class="w-12 fill-current " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"
          class="text-white"></path>
      </svg>
      <div class="flex flex-col pl-2 w-full">
        <p class="text-white text-xs">Welcome, </p>
        <p class="text-white text-sm text-bold">{{.UserName}}</p>
      </div>
    </div>
  </div>
  <div class="flex-l h-64">
    <h3 class="text-white italic font-normal pt-4  px-3 py-1 text-sm">Navigation</h3>
    <div class="w-full">
      <nav class="m-0 p-0">
        <ul class="w-full p-0">
          <li class="flex w-full items-center">
            <a href="/admin/" class="flex text-grey-lighter items-center w-full p-2 pl-0 no-underline hover:bg-blue-darkest">
              <div class="w-6 mx-2">
                <svg class="fill-current text-grey-lighter w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
              <p class="w-full text-grey-lighter text-sm">Home</p>
            </a>
          </li>
          <li class="flex w-full items-center h-auto">
            <a href="/admin/crawls/search/" class="flex text-grey-lighter items-center w-full p-2 pl-0 no-underline hover:bg-blue-darkest content-center">
              <div class="w-6 mx-2 self-center">
                <svg class="fill-current text-grey-lighter w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z" />
                  <path d="M0 0h24v24H0z" fill="none" /></svg>
              </div>
              <p class="w-full text-grey-lighter text-sm">Crawls</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="absolute pin-b bottom-0 w-full bg-blue-darkest">
    <div class="">
      <nav class="m-0 p-0">
        <ul class="flex w-full list-reset items-center">
          <li class="flex items-center content-center text-center align-middle">
            <a href="/" class="text-grey-lighter p-2 no-underline hover:bg-blue-darker m-0">
              <svg class="fill-current text-grey-lighter w-1/3 align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z" />
                <path d="M0 0h24v24H0z" fill="none" /></svg>
            </a>
          </li>
          <li class="flex items-center content-center text-center align-middle">
            <a href="/auth/logout/" class="text-grey-lighter p-2 no-underline hover:bg-blue-darker m-0">
              <svg class="fill-current text-grey-lighter w-1/3 align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z" /></svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
<main class="bg-grey-lightest w-full sm:w-2/3 lg:w-4/5 transition " id="content">
  <div class="bg-grey-lighter w-full h-12 shadow flex justify-between items-center">
    <a class="flex content-center p-2 text-grey-darkest hover:text-black" id="menuBurger" href="#">
      <svg class="h-8 fill-current hover:h-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
      </svg>
    </a>
    <div class="p-2 inline-block">
      <div class="flex items-center text-grey-darkest">
        <svg class="h-8 fill-current mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"
            class=""></path>
        </svg>
        <p class="text-sm">{{.UserName}}</p>
      </div>
    </div>
  </div>
  <div class="m-auto p-3 max-w-4xl h-screen-12 pt-12 overflow-auto">
