<!DOCTYPE html>
<html lang="en">
  {{include "layouts/head"}}

  <body class="text-black leading-normal {{.bodyClass}}">
    {{ if .IsAdmin}}
    <div class="w-full flex">
      {{ include "elements/admin/header" }}
      {{ template "content" . }}
      {{ include "layouts/footer"}}
    </div>
    </div>
    {{else}}
      {{ include "elements/header" }}
      {{ template "content" . }}
      {{ include "layouts/footer"}}
      {{end}}
  </body>

</html>
