<div id="content-wrapper" class="min-h-screen w-full lg:static lg:max-h-full lg:overflow-visible lg:w-3/4 xl:w-4/5">
  <div id="content">
    <div id="app" class="flex">
      <div class="pt-24 pb-8 lg:pt-28 w-full">
        <div class="flex">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quam tempore voluptas. Atque ad, voluptas iure tempora deserunt iste aliquid odit optio cupiditate beatae eius, sed mollitia eligendi, laborum nam.
          Eaque praesentium laborum quod nesciunt repellat accusantium quaerat consectetur cum? Sapiente natus vitae officiis repudiandae quod minus provident expedita sint eum reiciendis neque, laborum nobis, nulla corporis quam! Autem, ipsam!
          Vitae tenetur temporibus asperiores nam. Quidem voluptate similique officia rerum ad atque corrupti non aspernatur nihil ea perferendis necessitatibus sunt libero, pariatur minus exercitationem quasi quae expedita eveniet enim. Debitis.
          Inventore, quod sed eligendi voluptatem, porro at pariatur ducimus id laboriosam adipisci sint dolor quam? Porro temporibus, ut, aliquid perspiciatis quibusdam optio similique labore voluptas itaque ad quis reiciendis voluptatibus.
          Qui aliquam recusandae vero ab? Nisi dolorum soluta quaerat molestias iste, repellat maiores possimus dicta! Accusantium culpa explicabo expedita hic! Atque qui aut repellendus sit tenetur debitis libero dicta beatae.
          Quae doloribus fugit iusto rerum in qui? Aspernatur eligendi rem nostrum tempora, repudiandae corporis! Voluptatibus sint earum omnis quo maiores itaque necessitatibus neque praesentium adipisci delectus, ducimus aperiam ratione ipsum.
          Amet nesciunt distinctio fugit dignissimos! Voluptate dignissimos tenetur dicta libero! Laudantium similique, pariatur explicabo corrupti adipisci consequuntur voluptatem non aperiam et culpa? Sequi incidunt tenetur eligendi in debitis iure sapiente!
          Quos, maiores ipsa, fugiat non dignissimos ipsam fugit reprehenderit magnam quisquam labore itaque eum. Officia nesciunt rem, dolor veritatis reprehenderit, ex, praesentium deserunt voluptatem ut nemo et minus dolorem aliquid?
          Quasi vel commodi ea nobis quos. Quasi blanditiis iste error ducimus quia eaque corporis, tempore veniam velit quaerat eos eius exercitationem? Modi omnis possimus earum hic saepe. Sequi, possimus quasi.
          Reprehenderit, ad eaque similique perferendis, neque consequatur nihil a, eos nisi autem praesentium id ipsam corporis modi saepe explicabo in delectus deleniti? In impedit alias quas id. Quibusdam, illum non.
          Fuga ab, ipsa debitis molestias quam voluptatem officia minus nemo neque aperiam asperiores minima adipisci ratione perferendis nostrum amet voluptatum id quis corporis qui veniam blanditiis quibusdam? Modi, sit veniam?
        </div>
      </div>
    </div>
  </div>
</div>
