<template>
  <div class="mt-8 md:ht-4 w-full md:w-2/3 md:mr-2">
    <CrawlItems />
    <CrawlFails />
  </div>
</template>

<script>
import CrawlItems from './components/CrawlItems'
import CrawlFails from './components/CrawlFails'

export default {
  name: 'App',
  components: {
    CrawlItems,
    CrawlFails
  }
}
</script>
