{{ define "content"}}
{{ $DateFormat := .DateFormat}}
<h1 class="font-normal">View all crawls</h1>
{{ if .Search.Results.HasResults}}
{{ .DateFormat }}
<table class="text-left w-full border-collapse">
  <thead>
    <tr>
      <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Crawl
        Start date</th>
      <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Crawl
        End date</th>
      <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Crawl
        Duration</th>
      <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">View
      </th>
    </tr>
  </thead>
  <tbody>
    {{ with .Search.Items}}
    {{range .}}
    <tr class="hover:bg-grey-lighter">
      <td class="py-4 px-6 border-b border-grey-light">{{.StartTime.Format $DateFormat }}</td>
      <td class="py-4 px-6 border-b border-grey-light">{{if .Status.IsCrawling }}Crawling
        {{else}}{{ .EndTime.Format $DateFormat }}{{end}}</td>
      <td class="py-4 px-6 border-b border-grey-light">{{if .Status.IsCrawling }}Crawling
        {{else}}{{ .ElapsedFormat }}{{end}}</td>
      <td class="py-4 px-6 border-b border-grey-light"><a href="/admin/crawls/view/{{.UUID}}"
          class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-green hover:bg-green-dark no-underline">View</a>
      </td>
    </tr>
    {{end}}
    {{end}}
  </tbody>
</table>
{{ include "elements/pagination" }}
{{else}}
  <h2 class="font-normal">No results found.</h2>
  {{end}}
  {{end}}
