{{ define "content"}}{{ $DateFormat := .DateFormat}}{{ $FormatFloat := .FormatFloat}}
<h1 class="font-normal">{{.Crawl.StartTime.Format $DateFormat}}</h1>
<div class="flex w-full flex-col md:flex-row" data-uuid="{{.Crawl.UUID}}">
  <div id="crawlItemsPage" class="mt-8 md:ht-4 w-full md:w-2/3 md:mr-2">
    <div class="text-xs h-128 overflow-auto">
      <div class='flex items-center h-12 h-128 p-2'>
        <span class='spinner text-center m-auto'></span>
      </div>
    </div>
    <h2 class="font-normal">Fail reasons</h2>
    <div class="text-xs h-64 overflow-auto">
      <div class='flex items-center h-12 h-64 p-2'>
        <span class='spinner text-center m-auto'></span>
      </div>
    </div>
  </div>
  <div class="flex-col mt-8 md:mt-4 w-full md:w-1/3 md:ml-2">
    {{ if .Crawl.Status.IsCrawling}}
    <div class="bg-blue-darker p-6 text-white text-center flex-no-shrink">
      <h2 class="font-normal">Controls</h2><a id="cancelCrawl" href="#" data-uuid="{{.Crawl.UUID}}"
        class="text-center no-underline text-white hover:bg-red-light p-3 mt-3 rounded bg-red block m-auto">Stop
        Crawl</a>
    </div>
    {{end}}
    <div class="bg-white shadow p-2 mt-4">
      <h2 class="font-normal">Duration</h2>
      <h3 class="text-center text-3xl font-normal">{{ call .FormatDuration .Crawl.Elapsed}}</h3>
    </div>
    <div class="bg-white shadow p-2 mt-4">
      <h2 class="font-normal">Breakdown</h2>
      <p class="text-grey-darkest">Search pages</p>
      <span class=" progress-bar w-full h-6 mt-1 mb-3 bg-grey block relative"
        data-tippy-content="Total search pages: {{.CrawlItems.TotalSearches}}">
        <div class="absolute pin-t pin-b pin-l w-0 transition bg-orange"
          style="width: {{ call .Percentage .CrawlItems.TotalSearches}}%;"></div>
      </span>
      <p class="text-grey-darkest">Product pages</p>
      <span class=" progress-bar w-full h-6 mt-1 mb-3 bg-grey block relative"
        data-tippy-content="Total product pages: {{.CrawlItems.TotalProducts}}">
        <div class="absolute pin-t pin-b pin-l w-0 transition bg-blue"
          style="width: {{ call .Percentage .CrawlItems.TotalProducts}}%;"></div>
      </span>
      <p class="text-grey-darkest">Top level pages</p>
      <span class=" progress-bar w-full h-6 mt-1 mb-3 bg-grey block relative"
        data-tippy-content="Total top level pages: {{.CrawlItems.TotalTopLevels}}">
        <div class="absolute pin-t pin-b pin-l w-0 transition bg-pink"
          style="width: {{ call .Percentage .CrawlItems.TotalTopLevels}}%;"></div>
      </span>
      <p class="text-grey-darkest">Skipped pages</p>
      <span class=" progress-bar w-full h-6 mt-1 mb-3 bg-grey block relative"
        data-tippy-content="Total failed pages: {{.CrawlItems.TotalFailed}}">
        <div class="absolute pin-t pin-b pin-l w-0 transition bg-red"
          style="width: {{ call .Percentage .CrawlItems.TotalFailed}}%;"></div>
      </span>
      <p class="text-grey-darkest">Completed pages</p>
      <span class=" progress-bar w-full h-6 mt-1 mb-3 bg-grey block relative"
        data-tippy-content="Total Completed pages: {{.CrawlItems.TotalCompleted}}">
        <div class="absolute pin-t pin-b pin-l w-0 transition bg-green"
          style="width: {{ call .Percentage .CrawlItems.TotalCompleted}}%;"></div>
      </span>
    </div>
  </div>
</div>
{{end}}
