{{ define "content" }}
<div class="m-auto p-3 max-w-4xl" id="homepage">
  <div class='bg-white shadow w-full flex p-2 flex-col sm:flex-row'>
    <div class='sm:w-2/3 w:full'>
      <h2 class='text-xl font-normal text-black border border-t-0 border-r-0 border-l-0 mr-2'>Crawl history</h2>
      <div class='flex items-center bg-white h-24 h-64 p-2'>
        <span class='spinner text-center m-auto'></span>
      </div>
    </div>
    <div class='sm:w-1/3 w:full'>
      <h2 class='text-xl font-normal text-black border border-t-0 border-r-0 border-l-0'>Crawl breakdown</h2>
      <div class='flex items-center bg-white h-24 h-64 p-2'>
        <span class='spinner text-center m-auto'></span>
      </div>
    </div>
  </div>
  <div class="flex mt-8">
    <div class="bg-white shadow flex flex-col p-2 sm:w-1/3 w:full">
      <h2 class="text-xl font-normal text-black border border-t-0 border-r-0 border-l-0">Current Failures</h2>
      <div class='flex items-center bg-white h-12 h-64 p-2'>
        <span class='spinner text-center m-auto'></span>
      </div>
    </div>
    <div class="bg-white shadow flex flex-col p-2 sm:w-1/3 w:full mx-8">
      <h2 class="text-xl font-normal text-black border border-t-0 border-r-0 border-l-0">Latest Status</h2>
      <div class='flex items-center bg-white h-12 h-64 p-2'>
        <span class='spinner text-center m-auto'></span>
      </div>
    </div>
    <div class="bg-white shadow flex flex-col p-2 sm:w-1/3 w:full">
      <h2 class="text-xl font-normal text-black border border-t-0 border-r-0 border-l-0">Current Failures</h2>
      <div class='flex items-center bg-white h-12 h-64 p-2'>
        <span class='spinner text-center m-auto'></span>
      </div>
    </div>
  </div>
</div>
{{end}}
