<template>
  <div class='bg-white shadow w-full flex p-2 flex-col sm:flex-row'>
    <div class='sm:w-2/3 w:full'>
      <h2 class='text-xl font-normal text-black border border-t-0 border-r-0 border-l-0 mr-2'
      >Crawl history</h2>
      <template v-if='!dataLoaded'>
        <div class='flex items-center bg-white h-24 h-64 p-2'>
          <span class='spinner text-center m-auto'/>
        </div>
      </template>
      <canvas class='w-full m-auto' id='crawlGraphCanvas' v-show="showGraph"/>
    </div>
    <div class='sm:w-1/3 w:full'>
      <h2
        class='text-xl font-normal text-black border border-t-0 border-r-0 border-l-0'
      >Crawl breakdown</h2>
      <template v-if='!dataLoaded'>
        <div class='flex items-center bg-white h-24 h-64 p-2'>
          <span class='spinner text-center m-auto'/>
        </div>
      </template>
      <div class="pt-6" v-if='dataLoaded'>
        <template v-for="item in breakdown.items">
          <p class="text-grey-darkest" v-text="item.name" v-bind:key="item.name" />
          <span class=" progress-bar w-full h-6 mt-1 mb-3 bg-grey block relative"  v-bind:key="`${item.name}-progress-bar`" v-bind:data-tippy-content="`${item.total} ${item.name} crawled`">
            <div v-bind:class="`absolute pin-t pin-b pin-l w-0 transition bg-${item.colour}`" v-bind:style="`width: ${showBreakdownchart ? item.percentage : 0}%;`" v-bind:key="item.name + '-progres'"></div>
          </span>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import ChartJS from 'chart.js'
import moment from 'moment'
import tippy from 'tippy.js'

export default {
  name: 'CrawlChartHistory',
  data () {
    return {
      dataLoaded: false,
      showBreakdownchart: false,
      showGraph: false,
      history: [],
      chart: null,
      breakdown: {
        total: 0,
        items: [
          {
            name: 'Product pages',
            total: 0,
            percentage: 0,
            colour: 'blue'
          },
          {
            name: 'Search pages',
            total: 0,
            percentage: 0,
            colour: 'orange'
          },
          {
            name: 'Top pages',
            total: 0,
            percentage: 0,
            color: 'green'
          }
        ]
      },
      url: ((process.env.NODE_ENV === 'development') ? 'https://127.0.0.1' : 'https://www.cheapskates.info')
    }
  },
  methods: {
    getDate: days => {
      // eslint-disable-next-line
      return moment().subtract(days * 2, 'days').toDate()
    },
    getData () {
      const self = this
      return new Promise(resolve => {
        axios.get(`${self.url}/api/v1/crawl/results/`).then(response => {
          resolve(response.data)
        })
      })
    },
    processData () {
      const self = this
      self.dataLoaded = true

      let data = {
        labels: [
          self.history.start_date,
          self.history.end_date
        ],
        datasets: [
          {
            label: 'Product pages',
            backgroundColor: ChartJS.helpers.color('#3490DC').alpha(0.5).rgbString(),
            data: []
          },
          {
            label: 'Search pages',
            backgroundColor: ChartJS.helpers.color('#F6993F').alpha(0.5).rgbString(),
            data: []
          },
          {
            label: 'Top level pages',
            backgroundColor: ChartJS.helpers.color('#38C172').alpha(0.5).rgbString(),
            data: []
          }
        ]
      }

      this.breakdown.items[0].total = 0
      this.breakdown.items[1].total = 0
      this.breakdown.items[2].total = 0
      this.breakdown.total = 0

      this.history.items.forEach((element, i) => {
        const products = element.results.total_product_pages
        const searches = element.results.total_search_pages
        const toplevels = element.results.total_top_level_pages
        const date = moment(element.date)
        data.datasets[0].data[i] = {
          x: date,
          y: products
        }

        this.breakdown.items[0].total += products
        this.breakdown.total += products

        data.datasets[1].data[i] = {
          x: date,
          y: searches
        }

        this.breakdown.items[1].total += searches
        this.breakdown.total += searches

        data.datasets[2].data[i] = {
          x: date,
          y: toplevels
        }

        this.breakdown.items[2].total += toplevels
        this.breakdown.total += toplevels
      })
      return data
    },
    updateChart (data) {
      this.chart.data = data
    },
    createChart (data) {
      this.chart = new ChartJS(document.querySelector('#crawlGraphCanvas'), {
        type: 'line',
        data: data,
        options: {
          scales: {
            xAxes: [
              {
                type: 'time',
                time: {
                  unit: 'day'
                },
                scaleLabel: {
                  display: true,
                  labelString: 'Crawl date'
                }
              }
            ],
            yAxes: [
              {
                scaleLabel: {
                  display: true,
                  labelString: 'Number of pages crawled'
                }
              }
            ]
          }
        }
      })
      this.showGraph = true
    },
    setBreakdown () {
      this.breakdown.items[0].percentage = parseFloat(((this.breakdown.items[0].total / this.breakdown.total) * 100).toFixed(4))
      this.breakdown.items[1].percentage = parseFloat(((this.breakdown.items[1].total / this.breakdown.total) * 100).toFixed(4))
      this.breakdown.items[2].percentage = parseFloat(((this.breakdown.items[2].total / this.breakdown.total) * 100).toFixed(4))

      this.breakdown.items.sort((a, b) => {
        return b.total - a.total
      })

      if (!this.showBreakdownchart) {
        setTimeout(function () {
          this.showBreakdownchart = true
          tippy('.progress-bar')
        }, 750)
        this.showBreakdownchart = true
      }
    },
    async update () {
      const response = await this.getData()
      this.history = response
      const data = this.processData()

      if (!this.showGraph) {
        this.createChart(data)
      } else {
        this.updateChart(data)
      }
      this.setBreakdown()
    }
  },
  mounted () {
    this.update()

    setInterval(function () {
      // this.update()
    }, 5000)
  }
}
</script>
