<template>
  <div class="bg-white shadow flex flex-col p-2 sm:w-1/2 w:full mx-8">
    <h2 class="text-xl font-normal text-black border border-t-0 border-r-0 border-l-0">Latest Status</h2>
    <template v-if='!dataLoaded'>
      <div class='flex items-center bg-white h-12 h-64 p-2'>
        <span class='spinner text-center m-auto'/>
      </div>
    </template>
      <div class="pt-6" v-if="dataLoaded">
        <a v-bind:href="`/admin/crawls/view/${item.uuid}`" class="flex justify-between mb-2  no-underline" v-for="item in statuses" v-bind:key="`${item.uuid}-container`">
          <p class="text-grey-darkest hover:underline" v-text="item.date" v-bind:key="item.date" />
          <span v-bind:class="['h-auto rounded w-auto p-1', item.bgColour, item.textColour]" v-bind:key="`${item.name}-progress-bar`" v-text="item.text" />
        </a>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'CrawlStatus',
  data () {
    return {
      dataLoaded: false,
      statuses: [],
      url: (process.env.NODE_ENV === 'development') ? 'https://127.0.0.1' : 'https://www.cheapskates.info'
    }
  },
  mounted () {
    const self = this
    axios.get(`${self.url}/api/v1/crawl/status/`).then(response => {
      self.statuses = response.data.items

      self.statuses.forEach(item => {
        if (item.is_cancelled) {
          item.bgColour = 'bg-orange-light'
          item.textColour = 'text-orange-darker'
          item.text = 'Cancelled'
        } else if (item.is_crawling) {
          item.bgColour = 'bg-blue-light'
          item.textColour = 'text-blue-darker'
          item.text = 'Crawling'
        } else if (item.is_completed) {
          item.bgColour = 'bg-green-light'
          item.textColour = 'text-green-darker'
          item.text = 'Completed'
        } else {
          item.bgColour = 'bg-red-light'
          item.textColour = 'text-red-darker'
          item.text = 'Failed'
        }
      })
      self.dataLoaded = true
    })
  }
}
</script>
