<template>
  <div class="bg-white shadow flex flex-col p-2 sm:w-1/2 w:full">
    <h2 class="text-xl font-normal text-black border border-t-0 border-r-0 border-l-0">Current Controls</h2>
    <template v-if='!dataLoaded'>
      <div class='flex items-center bg-white h-12 h-64 p-2'>
        <span class='spinner text-center m-auto'/>
      </div>
    </template>
    <div class="items-center bg-white h-12 h-64 p-2 flex flex-col" v-if="dataLoaded">
      <div class="text-center m-auto">
        <p v-bind:class="['text-5xl', crawling ? 'text-green-light':'']" v-text="crawling? 'Active': 'Idle'" />
        <p class="italic" v-text="since" v-if="crawling"/>
        <div class="flex justify-between mt-3">
          <button class="bg-green-light text-green-darker rounded p-3" v-if="!crawling" v-on:click="openDialog">Start new crawl</button>
          <button class="bg-red-light text-red-darker rounded p-3 mr-3" v-if="crawling" v-on:click="cancelCrawl">Cancel</button>
          <a v-bind:href="`/admin/crawls/view/${uuid}`" class="bg-blue-light no-underline text-blue-darker rounded p-3" v-if="crawling">View</a>
        </div>
      </div>
    </div>
    <div class="fixed pin-y pin-x w-full z-40 h-full bg-grey-dark opacity-50 cursor-pointer" v-if="showDialog" v-on:click="closeDialog"/>
    <div class="fixed pin-y pin-x w-full z-50 h-full md:w-1/2 md:h-128 m-auto bg-white shadow-md py-2" v-if="showDialog">
      <div class="h-full overflow-auto p-4">
        <h1 class="font-normal text-center">Config crawl</h1>
        <form v-on:submit.prevent>
          <div class="my-2" v-for="(url, i) in URLs" v-bind:key="i">
            <label><strong class="">URL {{i + 1}}</strong><input type="url" v-bind:class="['w-full p-2 border rounded my-2', !url.valid ? 'border-red text-red': '']" v-model="URLs[i].URL" required></label>
            <small class="text-red" v-if="!url.valid">This URL is either not valid or not a not crawlable.</small>
          </div>
          <div class="my-2 text-right">
            <button class="transition p-3 rounded bg-blue hover:bg-blue-light text-white" v-on:click="addNewInput">Add another URL</button>
          </div>
          <h2 class="font-normal mt-4 mb-2">Crawl limit</h2>
          <label><strong class="">Total number of pages</strong><input type="number" class="w-full p-2 border rounded my-2" v-model="totalPages.value"  required></label>
          <small class="text-red w-full my-2" v-if="!totalPages.valid">This toal pages value is not valid. Must be between 1 and 50,000.</small>
          <div class="flex items-center my-2">
            <label class="w-3/5"><strong class="">Total concurrent delay</strong><input type="range" min="250" max="1000" v-model="delay.value" class="w-full block p-2 rounded my-2" required></label>
            <div class="w-2/5 pl-4">
              <input type="number" max="1000" min="250" class="pt-2 w-1/2 p-2 border rounded my-2" v-model="delay.value"  required>
              <span class="">ms</span>
            </div>
            <small class="text-red w-full my-2" v-if="!delay.valid">This delay value is not valid. Must be between 250ms and 1000ms.</small>
          </div>
          <div class="flex items-center my-2">
            <label class="w-3/5"><strong class="">Total crawling units</strong><input type="range" min="1" max="5" v-model="units.value" class="w-full block p-2 rounded my-2" required></label>
            <div class="w-2/5 pl-4">
              <input type="number" max="5" min="1" step="1" class="pt-2 w-1/2 p-2 border rounded my-2" v-model="units.value"  required>
              <span>Units</span>
            </div>
            <small class="text-red w-full my-2" v-if="!units.valid">This unit value is not valid. Must be between 1 and 5.</small>
          </div>
          <div>
            <input type="submit" class="my-4 block w-full p-3 rounded bg-blue hover:bg-blue-light text-white cursor-pointer" v-on:click="startCrawl" value="Start Crawl" />
            <small class="text-red" v-if="globalErr">An error has occured. Please try again.</small>
            <button class="my-4 block w-full p-3 rounded bg-red hover:bg-red-darker text-white" v-on:click="closeDialog">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
export default {
  name: 'CrawlControls',
  data () {
    return {
      showDialog: false,
      units: {
        value: 1,
        valid: true
      },
      delay: {
        value: 300,
        valid: true
      },
      totalPages: {
        value: 2500,
        valid: true
      },
      err: '',
      failedPages: [],
      URLs: [{URL: 'https://www.ebuyer.com', valid: true}],
      dataLoaded: false,
      crawling: false,
      uuid: '',
      started: '',
      since: '',
      globalErr: false,
      url: ((process.env.NODE_ENV === 'development') ? 'https://127.0.0.1' : 'https://www.cheapskates.info')
    }
  },
  mounted () {
    const self = this
    axios.get(`${self.url}/api/v1/crawl/controls/`)
      .then(response => {
        self.crawling = response.data.status.crawling
        self.uuid = response.data.item.uuid
        self.started = moment(response.data.item.start_time)
        self.dataLoaded = true

        self.since = moment.utc(moment().diff(self.started)).format('H[h] m[m] ss[s]')

        setInterval(() => {
          self.since = moment.utc(moment().diff(self.started)).format('H[h] m[m] ss[s]')
        }, 1000)
      })
  },
  methods: {
    startCrawl () {
      let items = []
      this.URLs.forEach((k, i) => {
        items[i] = k.URL
      })

      if (this.units.value < 1 || this.units.value > 5) {
        this.units.valid = false
      } else {
        this.units.valid = true
      }

      if (this.delay.value < 250 || this.delay.value > 1000) {
        this.delay.valid = false
      } else {
        this.delay.valid = true
      }

      if (this.totalPages.value < 1 || this.totalPages.value > 50000) {
        this.totalPages.valid = false
      } else {
        this.totalPages.valid = true
      }

      if (this.units.valid && this.delay.valid && this.totalPages.valid) {
        // eslint-disable-next-line
        axios.get(`${this.url}/api/v1/crawl/start/?auuid=${a.uuid}&urls=${items.join(';')}&limit=${this.totalPages.value}&units=${this.units.value}&delay=${this.delay.value}`)
          .then(res => {
            if (res.error !== undefined) {
              this.err = res.error
              this.URLs.forEach(i => {
                if (res.failed_urls[i.URL] !== undefined) {
                  i.valid = false
                }
              })
            } else {
              location.reload()
            }
          })
          .catch(err => {
            this.err = err.response.data.error

            switch (this.err) {
              case 'Invalid concurrentDelay':
                this.delay.valid = false
                break
              case 'Invalid Units':
                this.units.valid = false
                break
              case 'Invalid start URLs':
                this.URLs.forEach(i => {
                  err.response.data.failed_urls.forEach(item => {
                    if (item === i.URL) {
                      i.valid = false
                    }
                  })
                })
                break
              default:
                this.globalErr = true
                break
            }
          })
      }
    },
    cancelCrawl () {
      const self = this
      axios.get(`${self.url}/api/v1/crawl/cancel/${self.uuid}`)
        .then(res => location.reload())
    },
    addNewInput () {
      this.URLs.push({URL: ''})
    },
    openDialog () {
      this.showDialog = true
    },
    closeDialog () {
      this.showDialog = false
    }
  }
}
</script>
