<div class="fixed pin-b w-full bg-blue shadow p-6 flex">
  <div class="max-w-xl flex m-auto text-white flex-col md:flex-row">
    <div class="w-full md:w-3/4 pr-3">
      <p>We use cookies to enhance the user experience while visiting the site. We keep a small amount of information on
        your device, which can be managed via your browser settings, to ensure a pleasant visit. You can disable
        statistical use by deselecting the checkbox.</p>
    </div>
    <div class="w-full md:w-1/4 mt-4 md:mt-0">
      <button id="cookie-btn"
        class="block bg-white text-black shadow p-5 rounded m-auto hover:shadow-lg cursor-pointer">Close</button>
    </div>
  </div>
</div>
