<div class="flex bg-white border-b border-grey-lighter z-100 h-32 md:h-16 items-center">
  <div class="w-full max-w-screen-xl relative mx-auto px-6">
    <div class="flex items-center -mx-6 md:flex-row flex-col">
      <div class="md:w-1/4 xl:w-1/5 pl-12 pr-6 md:pr-8 w-full justify-center sm:pl-6">
        <a href="/" class="block lg:mr-4 h-8 text-center">
          <img src="/assets/images/logo.png" class="h-full" />
        </a>
      </div>
      <div class="md:flex flex-grow items-center md:w-3/4 xl:w-4/5 mt-4 w-full px-10 md:px-0 md:mt-0">
        <form action="/products/1/12/" class="relative w-full z-20" autocomplete="off">
          <input
            class="transition focus:outline-0 border border-transparent focus:bg-white focus:border-grey-light placeholder-grey-darkest rounded bg-grey-lighter py-2 pr-16 pl-4 block w-full leading-normal ds-input"
            name="q" id="search-query" type="text" placeholder="Search for a product" value="{{.Search.Query.Query}}">
          <input type="submit" id="search-btn"
            class="absolute pin-r pin-t bg-blue hover:bg-blue-dark transition h-full text-white rounded-r cursor-pointer"
            value="Search">
        </form>
      </div>
      <div class="hidden lg:block lg:w-1/4 px-6">
      </div>
    </div>
  </div>
</div>
