<div class="flex justify-between mt-2 flex-col md:flex-row">
  <p class="mb-3 md:mb-0 text-center md:text-left">Showing {{.Search.Results.StartItem}} - {{.Search.Results.LastItem}}
    of
    {{.Search.Results.Total}} items.</p>
  {{ if .Search.Pagination.Shown}}
  <ul class="flex list-reset justify-center">
    <li class="flex bg-grey-light hover:bg-grey mx-1 rounded hover:shadow">
      <a {{ if .Search.Pagination.Navigation.Back.Disabled}} {{else}} href="{{.Search.Pagination.Navigation.Back.PageURL}}"
        {{end}} class="no-underline text-black p-2 text-black {{if .Search.Pagination.Navigation.Back.Disabled}}cursor-not-allowed{{else}}cursor-pointer{{end}}">Back</a>
    </li>
    {{ with .Search.Pagination.Pages}}
    {{ range .}}
    <li class="flex mx-1 rounded hover:shadow cursor-pointer {{ if .Active}}bg-blue hover:bg-blue-light color-white{{else}}bg-grey-light hover:bg-grey {{end}}">
      <a href="{{.PageURL}}" class="no-underline cursor-pointer p-2 text-black">{{.Page}}</a>
    </li>
    {{end}}
    {{end}}
    <li class="flex bg-grey-light hover:bg-grey mx-1 rounded hover:shadow">
      <a {{ if .Search.Pagination.Navigation.Next.Disabled}} {{else}} href="{{.Search.Pagination.Navigation.Next.PageURL}}"
        {{end}} class="no-underline text-black p-2 text-black {{if .Search.Pagination.Navigation.Next.Disabled}}cursor-not-allowed{{else}}cursor-pointer{{end}}">Next</a>
    </li>
  </ul>
  {{ end }}
</div>
