<div class="w-full bg-blue-darker text-white p-6">
  <h2 class="font-normal">Places to buy</h2>
  <div class="mt-2">
    <ul class="list-reset">
      {{with .CrawlItems.Items}}
      {{range $key, $item := .}}
      <li class="mt-1">
        <a href="{{$item.URL}}" class="no-underline hover:underline text-white" target="_black">{{$item.URL}}</a>
        <p class="text-xs mt-1">(Last Visited on {{$item.CreatedAt.Format "2006-01-02 15:04"}}).</p>
      </li>
      {{end}}
      {{end}}
    </ul>
  </div>
</div>
