<template>
  <div>
    <template v-if='!dataLoaded'>
      <div class='flex items-center bg-white h-64 p-2'>
        <span class='spinner text-center m-auto'/>
      </div>
    </template>
    <h2 class="font-normal text-center mt-3" v-show="showGraph">Best Price</h2>
    <div class="mt-2" v-show="showGraph">
      <h3 class="font-normal text-center mt-3" v-text="`£${cheapest.price}`" />
      <p class="font-normal text-center mt-3" v-text="`at ${cheapest.date}`" />
    </div>
    <canvas class='w-full m-auto my-4' id='crawlGraphCanvas' v-show="showGraph"/>
    <div class='flex items-center bg-white p-2 shadow mb-4' v-show="showGraph">
      <div class="m-auto">
        <div class="w-full mt-3" v-if="showGraph">
          <h3 class="font-normal mt-4">Good time to buy?</h3>
          <p class="my-4">
            <template v-if="cheapest.is_latest">
              This product is the cheapest known price. <template v-if="cheapest.since != cheapest.date">This price has remainded the same since <span v-text="cheapest.since" /></template>
            </template>
            <template v-if="!cheapest.is_latest">
              This product has been cheaper at a previous date. The lowest recorded price was on <span v-text="cheapest.date" />.
            </template>
          </p>
          <a v-bind:href="cheapest.url" target="_blank" class="p-3 w-full rounded shadow bg-blue hover:bg-blue-dark text-white no-underline block text-center text-xl">Visit store</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ChartJS from 'chart.js'
import moment from 'moment'

export default {
  name: 'PriceHistory',
  data () {
    return {
      dataLoaded: false,
      showGraph: false,
      // eslint-disable-next-line
      history: history,
      chart: null,
      cheapest: {
        url: '',
        is: false,
        date: '',
        price: 9999999999,
        currency: '£',
        since: ''
      }
    }
  },
  methods: {
    getDate: days => {
      // eslint-disable-next-line
      return moment().subtract(days * 2, 'days').toDate()
    },
    processData () {
      const self = this

      let data = {
        labels: [
          self.history[0].created_at,
          self.history[self.history.length - 1].created_at
        ],
        datasets: [
          {
            label: 'Price History',
            backgroundColor: ChartJS.helpers.color('#3490DC').alpha(0.5).rgbString(),
            data: self.history.map(key => {
              return {
                x: moment(key['created_at']),
                y: key['Price']
              }
            })
          }
        ]
      }
      self.history.forEach((item, i) => {
        if ((item.DeliveryPrice + item.Price) <= self.cheapest.price) {
          self.cheapest.since = moment(item.created_at).format('YYYY-MM-DD HH:mm')
          self.cheapest.price = (item.DeliveryPrice + item.Price)

          self.cheapest.currency = item.CurrencyCode
          self.cheapest.url = item.URL
          self.cheapest.date = moment(item.created_at).format('YYYY-MM-DD HH:mm')
          self.cheapest.is_latest = (i === (self.history.length - 1))
        }
      })

      self.dataLoaded = true
      return data
    },
    updateChart (data) {
      this.chart.data = data
    },
    createChart (data) {
      this.chart = new ChartJS(document.querySelector('#crawlGraphCanvas'), {
        type: 'line',
        data: data,
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: (tooltipItems, data) => `Price: £${tooltipItems.yLabel}`
            }
          },
          layout: {
            padding: {
              left: 0,
              right: 0,
              top: 0,
              bottom: 0
            }
          },
          scales: {
            xAxes: [
              {
                type: 'time',
                time: {
                  unit: 'day'
                },
                scaleLabel: {
                  display: false
                }
              }
            ],
            yAxes: [
              {
                ticks: {
                  precision: 0,
                  callback: (value, index, values) => `£${value}`
                },
                scaleLabel: {
                  display: false
                }
              }
            ]
          },
          legend: {
            display: false
          }
        }
      })
      this.showGraph = true
    }
  },
  mounted () {
    const data = this.processData()
    this.createChart(data)
  }
}
</script>
