<template>
<div class="m-auto p-3 max-w-4xl" id="homepage">
  <CrawlGraph />
  <div class="flex mt-8">
    <CrawlControls />
    <CrawlStatus />
  </div>
</div>
</template>

<script>
import CrawlGraph from './components/crawlGraph'
import CrawlControls from './components/crawlControls'
import CrawlStatus from './components/crawlStatus'

export default {
  name: 'CrawlChartHistory',
  components: {
    CrawlGraph,
    CrawlControls,
    CrawlStatus
  }
}
</script>
