{{ define "content"}}
<div class="flex  mx-auto">
  <div class="w-full">
    <div class="w-full pt-16 pb-32 px-6 flex flex-col items-center">
      <div class="w-full max-w-sm align-center mt-6 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="title text-center text-grey-darkest  py-6 md:mx-24">{{ .subtitle }}</h1>
        <h2 class="text-xl text-center pb-8 text-grey-darkest font-normal leading-tight">{{ .lead }}</h2>
        <form method="POST" id="loginForm">
          <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
              Email address
            </label>
            <input
              class="shadow appearance-none border {{ if .emailErr }}border-red rounded{{end}} rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
              id="email" type="email" name="email" {{if .hasInput}} value="{{.emailInput}}" {{end}}
              placeholder="example@domain.com">
            {{ if .emailErr }}
            <p class="text-red text-xs italic">{{.emailErrMessage}}</p>
            {{ end }}
          </div>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input
              class="shadow appearance-none border  {{ if .passwordErr }}border-red rounded{{end}} w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="password" name="password" type="password" placeholder="******************">
            {{ if .passErr }}
            <p class="text-red text-xs italic">{{.passwordErrMessage}}</p>
            {{ end }}
          </div>
          {{ if .globalErr }}
          <p class="text-red text-xs italic mb-6">{{.globalErrMessage}}</p>
          {{end}}
          {{ if .expiredErr }}
          <p class="text-red text-xs italic mb-6">{{.expiredErrMessage}}p>
            {{end}}
            <div class="flex items-center justify-between">
              <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">
                Forgot Password?
              </a>
              <button
                class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Sign In
              </button>
            </div>
        </form>
        <p class="text-center text-grey text-xs mt-2">
          ©2019 Christopher Atwood. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  var config = {
    errors: {
      email: "{{.emailErrMessage}}",
      password: "{{.passwordErrMessage }}"
    }
  }
</script>
{{end}}
